.wrapper{
	width:900px;
	height:900px;
	margin:auto;
	overflow: hidden; 
}
.square {
/*  width: 6%;
  height: 6%;*/
  outline:1px solid black;
  margin: none;
  display: inline-block;
  background-color: white;
}
.highlighted{
	background-color: black;
}

